.footer{
    background-color: #f4e9e0;
    color: white;
    height: 200px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', cursive;
    font-size: 40px;
    
}