.purchase{
    align-items: flex-end;
    float: right;
    border-radius: 4px;
    background-color: rgb(153, 109, 71);
    font-family: 'Raleway', sans-serif; 
    font-weight: bolder;
    padding: 10px;
}

.purchase:hover{
    background-color: white;
    font-family: 'Raleway', sans-serif; 
    font-weight: bolder;
    padding: 10px;
}

.Thanks-Message{
    align-items: center;
    font-family: 'Raleway', sans-serif; 
    font-weight: bold;
}

.Thanks-Message{
    align-items: center;
    font-family: 'Raleway', sans-serif; 
    font-weight: bold;
    border-radius: 4px;
}